---
import { Icon } from 'astro-icon/components'

const date = new Date()
const year = date.getFullYear()
---

<section class="bg-white/5">
  <footer
    class="py-5 container mx-auto px-2 lg:px-0 flex items-center justify-between"
  >
    <p class="text-slate-300 text-sm">&copy; {year} Derechos reservados</p>
    <div class="flex items-center gap-x-3">
      <!-- Github -->
      <a
        href="https://github.com/ElverDavid07"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-white text-slate-300 transition-all"
      >
        <Icon name="ri:github-fill" size={30} />
        <span class="sr-only">github</span>
      </a>
      <!-- Linkedin -->
      <a
        href="https://www.linkedin.com/in/elver-peñate"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-white text-slate-300 transition-all"
      >
        <Icon
          aria-label="icon linkedin"
          name="tabler:brand-linkedin"
          size={30}
        />
        <span class="sr-only">Linkedin</span>
      </a>
    </div>
  </footer>
</section>
