---
import { Image } from "astro:assets";
import IconHero from "@/assets/icon-hero.svg";
import Badge from "../Badge.astro";
import SocialLink from "../SocialLink.astro";
---

<section class="flex lg:flex-row flex-col relative">
  <div class="lg:max-w-2xl lg:mt-32 mt-16 animate-fade-up">
    <Badge />
    <h1 class="font-onest font-bold text-6xl text-balance tracking-tight">
      Elver David Peñate
    </h1>

    <h2
      class="text-primary/90 font-onest font-semibold capitalize text-2xl tracking-tight"
    >
      Desarrollador web
    </h2>

    <p class="text-balance text-slate-300 pt-3 leading-relaxed">
      Con experiencia en tecnologías como Typescript, Next.js, y Node.js, <strong
        >Mi enfoque se centra en crear soluciones web innovadoras y atractivas.</strong
      > Descubre mi trabajo y mi dedicación a través de mi portafolio.
    </p>

    <SocialLink />
  </div>
  <Image
    src={IconHero}
    loading="eager"
    decoding="async"
    alt="icon hero"
    width="680"
    class="mt-10 md:mt-0"
  />
</section>
