---
import { Icon } from 'astro-icon/components'
---

<header>
  <nav
    class="flex justify-between h-16 items-center mx-auto container px-2 md:px-0"
  >
    <Icon name={"tabler:code"} color={"#06A0F9"} size={35} />

    <a
      href="/cv-elver-david.pdf"
      download
      class="border border-primary hover:bg-primary py-2 px-3 rounded-xl active:scale-90 transition-all ease-in flex items-center gap-x-2 w-40"
      >Descargar CV
      <Icon name={"tabler:download"} size={20} />
    </a>
  </nav>
</header>
