---
import { Icon } from 'astro-icon/components'
---

<div class="flex flex-wrap items-center gap-x-4 order-3 md:order-none mt-3">
  <!-- Social link github -->

  <a
    href="https://github.com/ElverDavid07/"
    target="_blank"
    rel="noopener noreferrer"
    class="text-slate-300 hover:text-white flex items-center gap-x-2 bg-white/5 rounded-full py-1 px-3"
  >
    <Icon aria-label="icon github" name="tabler:brand-github" size={24} />
    <span>Github</span>
  </a>

  <!-- Social link linkedin -->

  <a
    href="https://www.linkedin.com/in/elver-peñate"
    target="_blank"
    rel="noopener noreferrer"
    class="text-slate-300 hover:text-white flex items-center gap-x-2 bg-white/5 rounded-full py-1 px-3"
  >
    <Icon aria-label="icon linkedin" name="tabler:brand-linkedin" size={24} />
    <span>Linkedin</span>
  </a>

  <!-- Email -->
  <a
    href="mailto:elverdavid0839@gmail.com"
    class="text-slate-300 hover:text-white flex items-center gap-x-2 bg-white/5 rounded-full py-1 px-3 mt-2 lg:mt-0"
  >
    <Icon aria-label="icon mail-forward" name="tabler:mail-forward" size={24} />
    <span>Contáctame</span>
  </a>
</div>
