---
import Footer from '@/components/sections/Footer.astro'
import Navbar from '@/components/sections/Navbar.astro'
// Supports weights 100-900
import '@fontsource-variable/onest'
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <!-- Metadata titles -->
    <meta
      property="og:title"
      content="Elver David Peñate | Desarrollador web especializado en ReactJs,NextJs y
    NodeJs"
    />
    <meta
      property="twitter:title"
      content="Elver David Peñate | Desarrollador web especializado en ReactJs,NextJs y
      NodeJs"
    />
    <title>
      Elver David Peñate | Desarrollador web especializado en ReactJs,NextJs y
      NodeJs
    </title>

    <!-- Metadata descriptions -->
    <meta
      name="description"
      content="¡Hola! Soy Elver David Peñate, un apasionado desarrollador web especializado en tecnologías como React, Next.js, y Node.js. Mi enfoque se centra en crear experiencias web intuitivas y dinámicas. Con habilidades en diseño utilizando Tailwind CSS y experiencia en desarrollo backend con Node.js, busco constantemente la excelencia técnica para ofrecer soluciones innovadoras y eficientes. ¡Explora mi portafolio para descubrir cómo puedo ayudarte a llevar tus proyectos web al siguiente nivel!"
    />
    <meta
      property="og:description"
      content="¡Hola! Soy Elver David Peñate, un apasionado desarrollador web especializado en tecnologías como React, Next.js, y Node.js. Mi enfoque se centra en crear experiencias web intuitivas y dinámicas. Con habilidades en diseño utilizando Tailwind CSS y experiencia en desarrollo backend con Node.js, busco constantemente la excelencia técnica para ofrecer soluciones innovadoras y eficientes. ¡Explora mi portafolio para descubrir cómo puedo ayudarte a llevar tus proyectos web al siguiente nivel!"
    />
    <meta
      property="twitter:description"
      content="¡Hola! Soy Elver David Peñate, un apasionado desarrollador web especializado en tecnologías como React, Next.js, y Node.js. Mi enfoque se centra en crear experiencias web intuitivas y dinámicas. Con habilidades en diseño utilizando Tailwind CSS y experiencia en desarrollo backend con Node.js, busco constantemente la excelencia técnica para ofrecer soluciones innovadoras y eficientes. ¡Explora mi portafolio para descubrir cómo puedo ayudarte a llevar tus proyectos web al siguiente nivel!"
    />
    <!-- Metadata images -->

    <meta
      property="og:image"
      content="https://www.elvportafolio.website/og-image.png"
    />
    <meta
      property="twitter:image"
      content="https://www.elvportafolio.website/og-image.png"
    />

    <!-- Metada urls -->
    <meta property="og:url" content="https://www.elvportafolio.website" />
    <meta property="twitter:url" content="https://www.elvportafolio.website" />
    <link rel="canonical" href="https://www.elvportafolio.website" />
    <meta property="og:type" content="website" />

    <!-- Metadata sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Metada keywords -->
    <meta
      name="keywords"
      content="Desarrollador Web, React, Next.js, Tailwind CSS, Node.js, Nest.js, Frontend, Backend, Portfolio, Proyectos Web, HTML, CSS, JavaScript, Programación, Desarrollo de Software, Autodidacta"
    />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <Navbar />
    <main class="md:mx-auto container px-2">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  body {
    background-color: #0d1117;
    color: white;
    font-family: 'Onest Variable', sans-serif, system-ui;
  }

  .Navbar-animation {
    animation: animate-navbar linear both;
    animation-timeline: scroll(root);
    animation-range: 300px;
  }

  @keyframes animate-navbar {
    to {
      background-color: rgba(13, 17, 23, 0.5);
      backdrop-filter: blur(5px);
    }
  }
</style>
